
@{
    ViewBag.Title = "BookingConfirmed";
}

<h2>BookingConfirmed</h2>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h5>Booking Details</h5>
            <p>Booking ID:</p> <p></p><br />
            <p>Date Booked:</p> <p></p><br />
            <p>Pick-Up Time:</p>  <p></p><br />
            <p>Pick-Up Address:</p>  <p></p><br />
        </div>

        <div class="col-sm-12">
            <h5>Driver Details</h5>
            <img src="" />
            <p>Driver Name:</p>  <p></p><br />
            <p>Phone Number:</p>  <p></p><br />
        </div>

        <div class="col-sm-12">
            <h5>Ambulance Details</h5>
            <img src="" />
            <p>Ambulance Type:</p>  <p></p><br />
            <p>Registration Number:</p>  <p></p><br />
        </div>
    </div>
</div>