
@{
    ViewBag.Title = "RideHistory";
}

<h2>RideHistory</h2>

<div id="bookingNorm">
    <h5>DD/MM/YYYY</h5>
    <p>Booking ID:</p> <p></p><br />
    <p>Driver Name:</p>  <p></p><br />
    <p>Ambulance Type:</p>  <p></p><br />
    <p>Pick-Up Address:</p>  <p></p><br />
</div>

<div id="bookingSOS" style="border: 1px solid; border-color: red">
    <h5>DD/MM/YYYY</h5>
    <p>Booking ID:</p> <p></p><br />
    <p>Driver Name:</p>  <p></p><br />
    <p>Ambulance Type:</p>  <p></p><br />
    <p>Pick-Up Address:</p>  <p></p><br />
</div>